.panel.panel-default
  .panel-heading
    .fa.fa-gears
    ANI Mapping Rule List
    .panel-tools
  .panel-body
    %table.table.table-bordered.table-condensed.table-striped
      %thead
        %tr
          %td{:colspan=>"4" } Accept matches

      %tbody{:data=>{:bind=>"foreach:publishmap.accept.list"}}
        - @mapping_rule.each do |rule|
          %tr
            %td= rule.entryway_provider
            %td is equal
            %td= rule.carrier_title
            %td{:style => "width:20%"}
              = link_to '<i class="fa fa-trash-o"></i> Delete Rule'.html_safe, mapping_rules_delete_path(:id => rule.id) , method: :delete, class: "btn btn-danger", :confirm => "Are you sure ?"
              = link_to '<i class="fa fa-trash-o"></i> Delete DID ALL RULES'.html_safe, mapping_rules_delete_path(:did => rule.entryway_provider) , method: :delete, class: "btn btn-danger", :confirm => "Are you sure ?"
    %br
    %a.btn.btn-primary{:remote =>'true', :id => 'createRule', :href=>"#", "data-toggle"=>"modal", "data-target"=>"#createRuleModal"}
      %i.fa.fa-plus
      Create Rule