- @conversations.each do |conv|
  - user = Intercom::User.find(:id =>conv.user.id)
  %li.messages-item{:data => {:id => conv.id}, :class => params[:message] == conv.id  || @conversation.id == conv.id ? "active" : ""}
    %span.messages-item-star{:title => "Mark as starred"}
      %i.fa.fa-star
    %img.messages-item-avatar{:alt => "", src: "/assets/Profile1.png"}
    %span.messages-item-from
      = user.name
    .messages-item-time
      %span.text
        = time_ago_in_words(DateTime.parse(conv.created_at.to_s)) + " ago"

    %span.messages-item-subject
      = conv.conversation_message.subject.html_safe
    %span.messages-item-preview
      = truncate(ActionView::Base.full_sanitizer.sanitize(conv.conversation_message.body.to_s.html_safe), length: 30)

- content_for :js do
  :javascript
    $(document).ready(function(){
      setInterval(function(){ 
       var id = $("#message_id").val()
       $.ajax({
           url: "/users/get_conversations?message=" + id ,
           type: 'GET',
           success: function(res) {
            $('.conv').html(res);
            $('.conversation .loading').hide();
            $('.btn-message-reply').removeClass('disabled');
            },
           error: function(res){},
           complete: function(res){}
           })}, 10000)
    })