-if current_user.present? && !current_user.is_marketer?
  - if current_user.is_rca?
    = intercom_script_tag({:email => current_user.email,
                           :name => current_user.get_user_title,
                           :created_at => current_user.created_at,
                           :user_id => current_user.id,"Permission Level" => current_user.permission_level,
                           "Edit prompt" => current_user.amount_of_prompts,
                           "Minutes this Month" => "" ,
                           "Todays Minutes" => "",
                           "Yesterdays Minutes"=> "",
                           "Last 30 days" => "",
                           "Minutes all time" => "",
                           "7 days minutes" => ""})
  -elsif current_user.is_broadcaster?
    = intercom_script_tag({"email" => current_user.email,
                           "name" => current_user.get_user_title,
                           "created_at" => current_user.created_at,
                           :user_id => current_user.id,
                           "Permission Level" => current_user.permission_level,
                           "Edit prompt" => current_user.amount_of_prompts,
                           "Minutes this Month" => current_user.get_intercom_minutes("this_month_minutes"),
                           "Todays Minutes" => current_user.get_intercom_minutes("today_minutes"),
                           "Yesterdays Minutes"=> current_user.get_intercom_minutes("yestarday_minutes"),
                           "Last 30 days" => current_user.get_intercom_minutes("last_30_days_minutes"),
                           "Minutes all time" => current_user.get_intercom_minutes("all_minutes"),
                           "7 days minutes" => current_user.get_intercom_minutes("last_7_days_minutes"),
                           "RCA" => current_user.get_rca_for_current_brd,
                           "Station Name" => current_user.station_data[0],
                           "Language" => current_user.language,
                           "Landline Phone" => current_user.landline.present? ? current_user.landline : "",
                           "Cellphone"=> current_user.cellphone.present? ? current_user.cellphone : "",
                           "Zipcode" => current_user.zip_code.present? ? current_user.zip_code : "",
                           "Country Address" => current_user.country.present? ? current_user.country : "",
                           "State Address" => current_user.state.present? ? current_user.state : "",
                           "City Address" => current_user.city.present? ? current_user.city : "",
                           "Address" => current_user.address.present? ? current_user.address : "",
                           "Station DID" => current_user.station_data[1]})