updated ask extension prompt
%strong= activity.parameters[:prompt_title]
on station
- if activity.trackable
  - gateway = DataGateway.find_by_title(activity.parameters[:station_name])
  - if gateway.present?
    %strong= link_to gateway.title, settings_station_path(gateway.id)
  - else
    %strong which is not found.