#stationModal.modal.fade{:role => "dialog", "aria-labelledby" => "stationModalLabel",  "aria-hidden" => "true"}
  .modal-dialog{:style => 'width: 90%; max-height: 1500px'}
    .modal-content
      .modal-body
        .row-fluid
          #stationContent.span12
            %span
              %img{:src => '/assets/loader.gif'}
              Please wait ...