Hello RT,
%br
%br
= "User #{@current_user.title} is trying to generate a widget snippet code but the gateway #{@station.title} has no available widget DID."
Kindly assign a widget DID for this station.
%br
%br
Thanks,
%br
dashboard@zenoradio.com