%div{style: 'width: 772px; margin: 0 auto;'}
  %script{type: 'text/javascript', language: 'JavaScript', src: 'https://secure.echosign.com/public/widget?f=2AAABLblqZhBnIHGJ_K3RRa1NYsrynZPlC2CdWHNf1dhMxCOsEWAiRI7LMt8gNMTJCBA6wtcSC64*'}
  %p{style: 'text-align: center; margin: 30px 0; font-size: 16px;'}
    By clicking the "Click to sign" button, you are hereby authorizing execution of this agreement on behalf of the Broadcaster.