#promptPlayer.modal{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog
		.playerHandler{style: 'margin: 0 auto; width: 420px;'}
			#backup_media_url_player.jp-jplayer
			= render partial: "data_gateway_conferences/jplayer_backup"
