%div.qa-message-list#wallmessages
    %div.message-item
        %div.message-inner
            %div.message-head.clearfix
                %div.avatar pull-left
                    %a{:href=>"#"}
                        %img{:src=>"https://ssl.gstatic.com/accounts/ui/avatar_2x.png}
                %div.user-detail
                    %div.post-meta
                        %div.asker-meta
                            %span.qa-message-when
                                %span.qa-message-when-data
                                    Jan 21
                            %span.qa-message-who
                                %span.qa-message-who-pad by
                                %span.qa-message-who-data
                                    %a{:href=>"#"} Oleg Kolesnichenko
            %div.qa-message-content
                Yo!
